body {
  width: 900px;
}

.header h3 {
  text-align: center;
}

.content h2 {
  margin: 20px 0 0 20px;
}

.content input {
  width: 20px;
  height: 20px;
}

.content p {
  display: inline-block;
}

button {
    display: block;
    width: 300px;
    height: 70px;
    margin: 0 auto;
    border: 2px solid #000;
}
